In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('train_revised.csv')

In [3]:
df.head()

,ride_id,seat_number,payment_method,payment_receipt,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity
0,1442,15A,Mpesa,UZUEHCBUSO,17-10-17,7:15,Migori,Nairobi,Bus,49
1,5437,14A,Mpesa,TIHLBUSGTE,19-11-17,7:12,Migori,Nairobi,Bus,49
2,5710,8B,Mpesa,EQX8Q5G19O,26-11-17,7:05,Keroka,Nairobi,Bus,49
3,5777,19A,Mpesa,SGP18CL0ME,27-11-17,7:10,Homa Bay,Nairobi,Bus,49
4,5778,11A,Mpesa,BM97HFRGL9,27-11-17,7:12,Migori,Nairobi,Bus,49

In [ ]:
df.dtypes

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
id_count = df['ride_id'].value_counts()
id_count.head()

In [ ]:
#checking the distribution of the data
plt.title('distribution of ride_id classes')
id_count[1:].plot(kind='hist')

In [4]:
#adding the number of tickets column
count = dict(df.ride_id.value_counts())
df['number_of_tickets'] = df['ride_id'].map(count)

In [5]:
#casting travel_date to datetime
df.travel_date = pd.to_datetime(df.travel_date)

In [6]:
#splitting the travel date to month and day
df['year'] = df.travel_date.dt.year
df['month'] = df.travel_date.dt.month
df['day'] = df.travel_date.dt.day

In [ ]:
df.head()

In [7]:
#droping columns that may provide little or no insight to tickets sold
columns_to_drop = ['seat_number', 'payment_method', 'payment_receipt', 'travel_date', 'travel_to']
df_clean = df.drop(columns_to_drop, axis=1)

In [8]:
#one-hot-encoding categorical data
dummy_data = ['year', 'month', 'day', 'travel_time', 'travel_from', 'car_type']
le = LabelEncoder()
for each in dummy_data:
    df_clean[each] = le.fit_transform(df_clean[each])

In [9]:
df_clean.head()

,ride_id,travel_time,travel_from,car_type,max_capacity,number_of_tickets,year,month,day
0,1442,61,9,0,49,1,0,9,9
1,5437,58,9,0,49,1,0,10,11
2,5710,51,4,0,49,1,0,10,18
3,5777,56,1,0,49,5,0,10,19
4,5778,58,9,0,49,31,0,10,19

In [10]:
df_clean.reset_index(drop=True, inplace=True)

In [ ]:
df_clean.to_csv('train_agg.csv', index=False)