In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv('train_agg.csv')

In [3]:
df.head()

,ride_id,travel_time,travel_from,car_type,max_capacity,number_of_tickets,year,month,day
0,1442,61,9,0,49,1,0,9,9
1,5437,58,9,0,49,1,0,10,11
2,5710,51,4,0,49,1,0,10,18
3,5777,56,1,0,49,5,0,10,19
4,5778,58,9,0,49,31,0,10,19

In [4]:
x = df.drop(['number_of_tickets'], axis=1)
y = df['number_of_tickets']

In [5]:
rf_model = RandomForestRegressor(n_estimators=100, criterion='mae', n_jobs=-1)

In [6]:
rf_model.fit(x,y)

RandomForestRegressor(bootstrap=True, criterion='mae', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [9]:
y_pred = rf_model.predict(x)

In [10]:
print(mean_absolute_error(y_pred, y))

0.3871468680414367

In [11]:
df_test = pd.read_csv('test_agg.csv')

In [12]:
x_test = df_test
test_pred = rf_model.predict(x_test)

In [20]:
result = {'ride_id': [], 'number_of_tickets': []}
for each in test_pred:
    result['ride_id'] = df_test.ride_id
    x = int(round(each,1))
    result['number_of_tickets'].append(x)
predictions_dframe = pd.DataFrame(data=result)

In [23]:
predictions_dframe.head()

   ride_id  number_of_tickets
0      247                  2
1      256                  1
2      275                  2
3      285                  1
4      286                  1

In [22]:
predictions_dframe.to_csv('zindi_submission_file.csv', index=False)